footer
  hr
  .footer
    .footer__logo DREAMSHARE
    .footer__company
      | Company
      ul
        li About
        li Contact
        li Press
        li Blog
        li Terms and Privacy
        li Help
    .footer__partners
      | Partners
    .flex-block
      .footer__icon-design DESIGNED BY
      .footer__icon-logo
