header
  .navbar
    .navbar__logo dreamshare
    .navbar__menu
      .navbar__menu_log Log in
      .navbar__menu_sign Sign up
  .promo
    .promo__title
      | SHARE YOUR
      | HOLIDAY DREAM
    .promo__text And find the perfect partner to fullfill it
    button.promo__button(type='button') Find your holiday partner